<!-- <form>
  <div class="row" >
    <div class="column">
      <div class="imgcontainer">
        <h4>Performance Management System</h4>
    
        <img src="/assets/pms.png" alt="Avatar" class="avatar" style="size:100px">
      </div>
    </div>
    <div class="column">
      <div class="container">
        <div class="jumbotron" id="home">

  <div class="form-group">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-user"></i></span>
      </div>
        <input type="text" class="form-control" placeholder="Enter Username" required>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
        </div>
      <input type="email" class="form-control" placeholder="Enter Email">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-lock"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="Enter Password" required>

    </div>
  </div>
  <div class=container>
  <label class="radio-inline">
    <input id="radio" type="radio" name="optradio" checked>Employee
  </label>
  <label class="radio-inline">
    <input id="radio" type="radio" name="optradio">HR
  </label>
  <label class="radio-inline">
    <input id="radio" type="radio" name="optradio">Manager
  </label><br><br>
</div>
  <input id="button" type="submit" value="Submit" class="btn btn-outline-info btn-block btn-lg">

  <span class="psw"> <a href="#">Forgot password?</a></span>
</div>
</div>
</div>
</div>
</form> -->


